<?xml version="1.0"?>
<launch>
    <!-- Declare launch arguments -->
    <arg name="world" default="4x4m_empty.world" description="Name of gazebo world to load"/>
    <arg name="map" default="nerve_218_nav_area.yaml" description="Name of rviz map to load"/>
    <arg name="use_sim_time" default="true" description="use_sim_time or not"/>
    <arg name="x_pose" default="-1.8" description="X position of the robot"/>
    <arg name="y_pose" default="-1.8" description="Y position of the robot"/>
    <arg name="simulation" default="true" description="Set to 'true' if using  simulation, 'false' for real robot"/>

    <!-- Paths based on the model argument -->
    <arg name="model" default="burger" description="Turtlebot3 Model"/>
    <let name="model_path" value="turtlebot3_$(var model)"/>
    <let name="robot_state_publisher_model" value="$(var model_path).urdf"/>
    <let name="robot_param_file" value="$(var model).yaml"/>

    <!-- Check if running simulation or not-->
    <!-- <group if="$(eval var('simulation') == 'true')"> -->
    <group if="$(var simulation)">
        <!-- Include Gazebo launch file and pass arguments if running in simulation -->
        <include file="$(find-pkg-share turtlebot3_gazebo)/launch/turtlebot3_world.launch.py">
            <arg name="world" value="$(var world)"/>
            <arg name="use_sim_time" value="$(var use_sim_time)"/>
            <arg name="x_pose" value="$(var x_pose)"/>
            <arg name="y_pose" value="$(var y_pose)"/>
            <arg name="model" value="$(var model)"/>
            <arg name="model_path" value="$(var model_path)"/>
        </include>
    </group>

    <!-- Running real robot -->
    <group unless="$(var simulation)">
        <include file="$(find-pkg-share turtlebot3_bringup)/launch/robot.launch.py">
            <arg name="model" value="$(var model)"/>
            <arg name="use_sim_time" value="false"/>
            <arg name="robot_param_file" value="$(var robot_param_file)"/>
            <arg name="robot_state_publisher_model" value="$(var robot_state_publisher_model)"/>
        </include>
    </group>

    <!-- Include RViz Navigation2 launch file -->
    <include file="$(find-pkg-share turtlebot3_navigation2)/launch/navigation2.launch.py">
        <arg name="model" value="$(var model)"/>
        <arg name="model_path" value="$(var model_path)"/>
        <arg name="use_sim_time" value="$(var use_sim_time)"/>
        <arg name="map" value="$(var map)"/>
        <arg name="robot_param_file" value="$(var robot_param_file)"/>
    </include>
</launch>
